body{
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

header, footer, main{
    background-color: #1F2937;
    color: #F9FAF8;
    width: 100%;
}

header{
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
}

.header-left{
    font-size: 24px;
    display: flex;
    margin-left:10%;
}
.header-right{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 15px;
    margin-right: 10%;
}

footer{
    margin-top: auto;
    padding: 20px;
    text-align: center;
}



